body, ul {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin-top: 0;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #ffffff;
/*  height: 150px;
  padding: 10px;*/
  margin-bottom:20px;
  margin-top:0%;
}

.filler {
  width: 30px;
}

.App-intro {
  font-size: large;
}

.gearButton{
    background:url(./Pictures/gear.png) no-repeat;
    cursor:pointer;
    border:none;
    margin-left: 90%;
    margin-top: -50px;
    width:25px;
    height:25px;
}

.gearButton:active  /* use Dot here */
{   
    background:url(./Pictures/gear.png) no-repeat;
}


.demoForm {
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 480px) {
    .demoForm {
        width:40%;
        margin: auto;
    }
}